@using UTB.BaChr.Mapy.Domain.Entities
@model IEnumerable<Location>

@{
    ViewData["Title"] = "Mapa";
}

<div class="map-layout">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3>Lokace</h3>
        </div>
        <div class="sidebar-content">
            @if (Model != null)
            {
                <div class="list-group list-group-flush">
                    @foreach (var item in Model)
                    {
                        <a href="#" class="list-group-item list-group-item-action location-item"
                           data-x="@item.MapX"
                           data-y="@item.MapY"
                           onclick="zoomToLocation(@item.MapX, @item.MapY); return false;">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">@item.Name</h5>
                            </div>
                            <small>@item.Description</small>
                        </a>
                    }
                </div>
            }
        </div>
    </div>

    <div id="map-container">
        <div id="map"></div>
    </div>
</div>

<script>
    // Pass data to JS safely
    var mapLocations = @Html.Raw(Json.Serialize(Model));
</script>