@using UTB.BaChr.Mapy.Domain.Entities
@model IEnumerable<Location>

@{
    ViewData["Title"] = "Mapa";
}

<div class="map-layout">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3>Lokace</h3>
        </div>
        <div class="sidebar-content">
            @if (Model != null)
            {
                <div class="list-group list-group-flush">
                    @foreach (var item in Model)
                    {
                        <div class="list-group-item location-item pt-3 pb-3">
                            <div style="cursor: pointer;" onclick="zoomToLocation(@item.MapX, @item.MapY)">
                                <h5 class="mb-1 text-primary">@item.Name</h5>
                                <p class="mb-2 small text-muted">@item.Description</p>
                            </div>

                            <a asp-controller="Location" asp-action="Details" asp-route-id="@item.Id"
                               class="btn btn-sm btn-outline-secondary w-100 mt-1">
                                Zobrazit detaily a fotky
                            </a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    <div id="map-container">
        <div id="map"></div>
    </div>
</div>

<script>
    var mapLocations = @Html.Raw(Json.Serialize(Model));
</script>